<div class="grid-item md:w-1/2 w-full p-4">
<div class="shadow-md hover:shadow-xl flex flex-col hover:scale-105 transition-transform duration-500 self-start">
  <!-- Image -->
  {{#if feature_image}}
    <img class="w-full object-cover rounded-t-xl" src="{{feature_image}}" alt="{{title}}" />
  {{/if}}

  <!-- Content Area -->
  <div class="p-6 flex flex-col flex-grow {{^if feature_image}}rounded-t-xl{{/if}}">
    <!-- Tags -->
    {{#if tags}}
    <div class="flex space-x-2 mb-4">
      {{#foreach tags limit="2"}}
      <a href="{{url}}" class="bg-gradient-to-r from-blue-500 to-purple-600 text-white py-1 px-3 rounded-full text-xs font-medium hover:opacity-80 transition-opacity duration-300" title="{{name}}">{{name}}</a>
      {{/foreach}}
    </div>
    {{/if}}

    <!-- Title -->
    <a href="{{url}}" class="block text-2xl font-semibold mb-2 text-gray-100 hover:text-blue-400 transition-colors duration-300">{{title}}</a>

    <!-- Excerpt -->
    <p class="text-sm text-gray-400 mb-4">{{excerpt}}</p>
  </div>

  <!-- Author Info -->
  {{#if authors}}
  <div class="p-6 border-t border-gray-700">
    {{#foreach authors limit="1"}}
    <div class="flex items-center">
      {{#if profile_image}}
      <img class="w-10 h-10 rounded-full mr-4 border border-gray-700" src="{{profile_image}}" alt="{{name}}">
      {{/if}}
      <div>
        <p class="text-sm font-medium text-gray-200">{{name}}</p>
        <p class="text-xs text-gray-500">{{date published_at}}</p>
      </div>
    </div>
    {{/foreach}}
  </div>
  {{/if}}
</div>
</div>
